@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Jost", Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}

.bg-color-main {
  background-color: #fffcf2;
}

.bg-secondary-color {
  background-color: #ccc5b9;
}

.bg-header-rooms {
  background-color: #252627;
}

.bg-rooms-color {
  background-color: #f2efe9;
}
